@import 'main.css';

.beginlogo {
    font-family: 'Mali', cursive;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #C9ACF2;
   -webkit-text-stroke: 1px black;
}
.bg {
    position: absolute;
    height: calc(100% - 60px);
    width: 100%;
    background-image: url(back.jpg);
}
